:host {
	display: block;
}
svg[coreproject-icon-2] {
	display: flex;
	visibility: hidden !important;
	&.up {
		rotate: 0deg;
		visibility: visible !important;
	}
	&.down {
		rotate: 180deg;
		visibility: visible !important;
	}
}
