:host {
	display: flex;
}
svg[data-marker="2"] {
	visibility: hidden !important;
	&.up {
		rotate: 0deg;
		visibility: visible !important;
	}
	&.down {
		rotate: 180deg;
		visibility: visible !important;
	}
}
