:host { display: flex };
    svg[data-marker='1']{
        .up { rotate: 0deg; }
.right { rotate: 90deg; }
.down { rotate: 180deg; }
.left { rotate: 270deg; }
    }
    :host { visibility: hidden };