:host {
	display: flex;
}
svg[data-marker="4"] {
	.down-right {
		rotate: 0deg;
	}
	.down-left {
		transform: scaleX(-1);
	}
	.left-down {
		rotate: 90deg;
	}
	.left-up {
		rotate: 90deg;
		transform: scaleX(-1);
	}
	.up-left {
		rotate: 180deg;
	}
	.up-right {
		rotate: 180deg;
		transform: scaleX(-1);
	}
	.right-up {
		rotate: 270deg;
	}
	.right-down {
		rotate: 270deg;
		transform: scaleX(-1);
	}
}
:host {
	visibility: hidden;
}
