:host {
	display: block;
}
svg[coreproject-style-8] {
	display: flex;
	visibility: hidden !important;
	&.outline {
		fill: none;
		visibility: visible !important;
	}
	&.filled {
		fill: currentColor;
		visibility: visible !important;
	}
}
