:host {
	display: inline-block;

	width: 1em;
	height: 1em;

	contain: strict;

	fill: currentColor;

	box-sizing: content-box !important;
}
svg[coreproject-icon-8] {
	display: block;

	height: 100%;
	width: 100%;

	visibility: hidden !important;
	&.outline {
		fill: none;
		visibility: visible !important;
	}
	&.filled {
		fill: currentColor;
		visibility: visible !important;
	}
}
