:host {
	display: flex;
}
svg[data-marker="7"] {
	display: flex;
	visibility: hidden !important;
	&.fast-forward {
		rotate: 0deg;
		visibility: visible !important;
	}
	&.rewind {
		rotate: 180deg;
		visibility: visible !important;
	}
}
