:host {
    display: inline-block;

    width: 1em;
    height: 1em;

    contain: strict;

    fill: currentColor;

    box-sizing: content-box !important;
}
svg[coreproject-icon-5] {
    display: block;

    height: 100%;
    width: 100%;

    visibility: hidden !important;
    &.off {
        transform: scaleX(1);
        visibility: visible !important;
    }
    &.on {
        transform: scaleX(-1);
        visibility: visible !important;
    }
}
