:host {
	display: block;
}
svg[coreproject-style-5] {
	display: flex;
	visibility: hidden !important;
	&.off {
		transform: scaleX(1);
		visibility: visible !important;
	}
	&.on {
		transform: scaleX(-1);
		visibility: visible !important;
	}
}
