:host {
	display: inline-block;

	width: 1em;
	height: 1em;

	contain: strict;

	fill: currentColor;

	box-sizing: content-box !important;
}
svg[coreproject-icon-7] {
	display: block;

	height: 100%;
	width: 100%;

	visibility: hidden !important;
	&.fast-forward {
		rotate: 0deg;
		visibility: visible !important;
	}
	&.rewind {
		rotate: 180deg;
		visibility: visible !important;
	}
}
